.navbar.navbar-custom {
    border-radius: 0;
    margin-bottom: 0px;
}

.carousel {
    margin-top: 0px;
}

.imageCarousel {
    width: 120%;
}

.carousel .carousel-control { 
    visibility: hidden; 
}

.carousel:hover .carousel-control { 
    visibility: visible;
}


.footer {
    background: black;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;    
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.footerLinks {
    color: white;
}

a:hover {
    text-decoration: underline;
}

