.navbar.navbar-custom {
    border-radius: 0;
    margin-bottom: 0px;
}

.carousel {
    margin-top: 0px;
}

.imageCarousel {
    width: 120%;
}

.carousel .carousel-control { 
    visibility: hidden; 
}

.carousel:hover .carousel-control { 
    visibility: visible;
}