.navbar.navbar-custom {
    border-radius: 0;
    margin-bottom: 0px;
}

.container-fluid.imageWrapper{
	float: left; 
	position: relative;
    left: 0px;
    overflow: hidden;
}
.container.imageOverlay{
	position: absolute; 
	top: 60%;
    bottom: 0px; 
	left: 0px;
	width: 100%;
	color: black;
	background-color: rgba(255,255,255,0.6);
    text-align: center;
}

footer {
    background: black;
    padding-top: 2%;
    padding-bottom: 1%;
    color: white;
    margin-top: 10%;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.footerLinks {
    color: white;
}

a:hover {
    text-decoration: underline;
}