html body {
    background: #A1887F;
    color: ghostwhite;
}
.navbar.navbar-custom {
    border-radius: 0;
    margin-bottom: 0px;
}

#headerIntroParagraph {
    text-align: center;
    font-size: 18px;
}

.descriptionContainer {
    padding-bottom: 5%;
}

.imageLeft {
    width: 50%;
}

.textRight {
    font-size: 16px;
}

ul {
    list-style-type: none;
    font-size: 16px;
}
.paddedList{
    padding-bottom: 2%;
}

.table tbody>tr>td {
    vertical-align: top;
}
.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

footer {
    background: black;
    padding-top: 2%;
    padding-bottom: 1%;
    color: white;

}
.footerLinks {
    color: white;
}

a:hover {
    text-decoration: underline;
}









